#cabecalho {
    background-color: #b84482; 
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  header {
    background-color: #dc4bac;
    color: white;
    padding: 20px;
    text-align: center;
  }
fieldset {
    border-radius: 1cap;
    width: 200px;
    border: 2px solid rgb(231, 231, 231);
    padding: 30px;
    margin-left: 17%;
    background-color: rgba(240, 240, 240, 0.37);
    box-shadow: 10px 10px 20px rgba(235, 235, 235, 0.5);
}

.video{
    text-align: center;
}


img {
    border-radius: none;
    border: none;
}

h3{
    color:#b84482
}
h4{
    color: #000000;
    font-family: 'Poppins', sans-serif;
}




p,
a, strong, ul {
    font-family:Arial, sans-serif;
    font-size:small;
}

h6 {
    color: #757574;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 60%;
}
.voltar-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 12px 25px;
    background: linear-gradient(135deg,  #ff64db 0%, #ff00cc 100%); 
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: background 0.3s ease; /* Transição suave para o hover */
  }
  
  .voltar-btn:hover {
    background: linear-gradient(135deg, #ff00cc  0%, #ff64db 100%); /* Inverte o gradiente no hover */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada no hover */
  }
  footer {
    background-color:  #dc4bac;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.pergunta {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .pergunta p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .resposta {
    margin-left: 20px;
    padding: 5px 0;
  }

