/* Estilos gerais do site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #6e6eb3;
    color: #333;
}

header {
    background-color: #42496f;
    color: rgb(109, 248, 28);
    padding: 30px 20px;
    text-align: center;
}

nav {
    background-color: #6574d3;
    padding: 10px;
}

.padrao {
    margin-left: 20px;
}

img:hover {
    transform: scale(1.1);
}

.podcast {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

nav a {
    margin-right: 20px;
}

main {
    padding: 40px 20px;
}

section {
    margin: 40px 0;
}

h2 {
    color: #05ff05;
}

.bloco {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(101, 255, 5, 0.1);
}

footer {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}