body {
    font-family: Arial, sans-serif;
    background-color: #f9f5f2;
    margin: 0;
   
}

#cabecalho {
    background-color: #d32f2f; 
    color: white;
    padding: 20px;
    text-align: center;
}

h1{
    margin: 0;
    text-align: center;
}

h5{
    text-align: center;
}

.noticia{
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s;
    display: flex;
    gap: 10px;
}

h2 {
    color: #d32f2f; 
}

p {
    line-height: 1.6;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #c0392b; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    padding: 20px;
}

.content {
    padding: 20px;
    width: 50%;
}

#corpo, #governoTrump, #brics, #russiaeucrania{
    margin-left: 25%;
    margin-right: 25%;
}

img{
    text-align: center;
    border-radius: 2%;
}

.centerr{
    text-align: center;
}

#fonte{
    color: #999999;
    font-size: xx-small;
}

.titulo{
    color: #252525;
    text-align: center;
}

.sub{
    color: #434343;
    font-size: medium;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e8e8e8;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #c0392b; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #f3f3f3df; 
}

strong {
    color: #e74c3c; 
}

.back-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #c0392b; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #e74c3c; 
}
.voltar-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 12px 25px;
    background: linear-gradient(135deg, #ba0d0d 0%, #ba0d0d 100%); 
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: background 0.3s ease; /* Transição suave para o hover */
  }
  
  .voltar-btn:hover {
    background: linear-gradient(135deg, #ba0d0d  0%, #ba0d0d 100%); /* Inverte o gradiente no hover */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada no hover */
  }footer {
    background-color: #d32f2f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}